[submodule "tools/mcp_hub"]
	path = tools/mcp_hub
	url = https://github.com/Konatsu0217/agent_mcp_hub.git
[submodule "tools/pe_server"]
	path = tools/pe_server
	url = https://github.com/Konatsu0217/agent_pe_server.git
[submodule "tools/bvh_converter"]
	path = tools/bvh_converter
	url = https://github.com/vrm-c/bvh2vrma.git
[submodule "webUI"]
	path = webUI
	url = https://github.com/Konatsu0217/agent_fe_vibe_all
