[submodule "tools/mcp_hub"]
	path = tools/mcp_hub
	url =  git@github.com:Konatsu0217/agent_mcp_hub.git
[submodule "tools/pe_server"]
	path = tools/pe_server
	url =  git@github.com:Konatsu0217/agent_pe_server.git
[submodule "tools/bvh_converter"]
	path = tools/bvh_converter
	url =  git@github.com:Konatsu0217/bvh_converter_service.git
[submodule "webUI"]
	path = webUI
	url =  git@github.com:Konatsu0217/agent_fe_vibe_all.git
[submodule "tools/danmaku_proxy_service"]
	path = tools/danmaku_proxy_service
	url =  git@github.com:Konatsu0217/danmaku_proxy_server.git
